.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  height: 34px;
  width: 50%;
  border: none;
}

.search-button{
  background:linear-gradient(to right, #43e97b 0%, #38f9d7 100%);;
  border: none;
  padding: 10px 20px;
  color: white;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}